<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BusXRide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='nav.css')}}">

</head>

<body>
    <section class="header">
        <nav class="navbar background">
            <div class="logo">
             <img src={{url_for('static',filename='images/logoM.png')}} alt="logo">
                 <h1 class="logoh">BusXRide</h1>
            </div>

            <ul class="nav-list nav-links" id="menuList">
                <!-- <i class="fa fa-times" ></i> -->
                <li><a  onclick="window.location.href='{{ url_for( 'home_page') }}';" class="nav-link">Home</a></li>
                 <li><a onclick="window.location.href='{{ url_for( 'contact') }}';" class="nav-link">Contact Us</a></li>
                <li><a onclick="window.location.href='{{ url_for( 'about') }}';" class="nav-link">About US</a>

            </ul>
             <img src="{{ url_for('static', filename='images/hamburger.png')}}" alt="logo" class="menu-icon"
        onclick="toggleMenu()">
            <!-- <i class="fa fa-bars" ></i> -->
        </nav>
    
        
        <section class="fS">

            <div class="firstHalf">
                <h1>Welcome to the BusXRide</h1>
                <p class="text Small">BusXRide is focused on giving protected, reliable, and convenient online bus
                    tickets. Regardless of whether you are returning to your home city, going on a business trip, or
                    exploring another city, you can schedule and book your seats online through Bookme</p>
                    
                <!-- <a href="About.html" class="btn">Read More</a> -->
                <div class="rightNav">
                    <a  onclick="window.location.href='{{ url_for( 'display_signup') }}';" class="btn">SIGN UP</a>
                    <a  onclick="window.location.href='{{ url_for( 'display_login') }}';" class="btn">LOGIN</a>
                   
                </div>
            </div>


        </section>
        <footer>
            Copyright &copy: www.BusXRide.com. All rights Reserved.
        </footer>
    </section>
    <script>

        document.querySelectorAll('.nav-link').forEach
            (link => {
                if (link.href === window.location.href)
                {
                    link.setAttribute('aria-current', 'page')
                }

            })
            var menuList = document.getElementById('menuList');

        function toggleMenu()
        {
            console.log(menuList.style.maxHeight)
            if(menuList.style.display == "none")
            {
                menuList.style.display = "flex";
            }
            else{
                console.log(menuList.style.maxHeight)
                menuList.style.display = "none";
            }
        }
    </script>
<script>
function myFunction(x) {
  if (!x.matches) { // If media query matches
    menuList.style.display = "flex";
  }
}
console.log("Hello")
var x = window.matchMedia("(max-width: 700px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction) // Attach listener function on state changes
</script>

   
</body>

</html>