<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Schedule Crud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='confirm.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='busCrud.css')}}">
</head>

<body>
    <div class="crud-page">
        <nav class="navbar background">
            <div class="logo">
                <img src={{url_for('static',filename='images/logoM.png' )}} alt="logo">
                <h1 class="logoh">BusXRide</h1>
            </div>

            <ul class="nav-list nav-links" id="menuList">

                <li><a  onclick="window.location.href='{{ url_for( 'home_page') }}';" class="nav-link">Home</a></li>
                 <li><a onclick="window.location.href='{{ url_for( 'contact') }}';" class="nav-link">Contact Us</a></li>
                <li><a onclick="window.location.href='{{ url_for( 'about') }}';" class="nav-link">About US</a>
                </li>

            </ul>
            <img src="{{ url_for('static', filename='images/hamburger.png')}}" alt="logo" class="menu-icon"
                onclick="toggleMenu()">

        </nav>

        <div class="form-fieldset">
            <fieldset>
                <legend>
                    <h1>Add New Bus</h1>
                </legend>
                <form id="form">
                    <label for="bus">Choose Bus #:</label><br>
                   <select id="bus" class="expand"  name="bus" required>
                         <option value="">Select Bus #</option>
                         {% for i in buses%}
                                  <option value="{{i.BUS_ID}}">{{i.BUS_ID}}</option>
                         {%  endfor %}
                         </select><br><br>
                   <label for="d_dt">Enter Departure Date:</label><br>
                    <input type="date" id="d_dt" name="d_dt" required><br><br>
                   <label for="a_dt">Enter Arrival Date:</label><br>
                   <input type="date" id="a_dt" name="a_dt" required><br><br>


                     <label for="route">Choose Route #:</label>
                     <select id="route" class="expand" name="route" required>
                         <option value="">Select Route #</option>
                         {% for i in routes%}
                                  <option value="{{i.ROUTE_ID}}">{{i.ROUTE_ID}}</option>
                         {%  endfor %}
                         </select>
                    <br><br>
                    <span id="msg">
                        {% if error %}
                        <p class="error"> {{error}} </p>
                        {% endif %}
                    </span><br>

                    <input type="button" onclick="Submit()" value="Submit">
                </form>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>
                    <h1>Bus Schedule in DataBase</h1>
                </legend>
                <table id="table">
                    <tr>
                        <th><b>Bus #</b></th>
                        <th>Departure Time</th>
                        <th>Arrival Time</th>
                        <th>Route #</th>
                        <th></th>
                    </tr>
                    {% for i in scheduleRecords %}
                    <tr>
                        <td data-label="BUS_ID">
                            {{i.BUS_ID}}
                        </td>
                        <td data-label="Departure_dt">
                            {{i.DEPARTURE_DATE_TIME}}
                        </td>
                        <td data-label="Arrival_dt">
                           {{i.ARRIVAL_DATE_TIME}}
                        </td>
                        <td data-label="Route_ID">
                             {{i.ROUTE_ID}}
                        </td>
                        <td>
                            <button onclick="edit(this)" id="edit-button">Edit</button>
                            <button onclick="remove(this)" id="delete-button">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </fieldset>

            <footer>
                Copyright &copy: www.BusXRide.com. All rights Reserved.
            </footer>
        </div>

    </div>
    <script>
        var latestBusID = {{ latestBusID| tojson}};
        document.querySelectorAll('.nav-link').forEach
            (link => {
                if (link.href === window.location.href) {
                    link.setAttribute('aria-current', 'page')
                }
            })

        var menuList = document.getElementById('menuList');

        function toggleMenu() {
            if (menuList.style.display == "none") {
                menuList.style.display = "flex";
            }
            else {
                console.log(menuList.style.maxHeight)
                menuList.style.display = "none";
            }
        }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='confirm.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scheduleCrud.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>